NODE_ENV=development
PORT=3000
MONGO_URI=mongodb://localhost:27017/nombre_de_tu_base

JWT_SECRET=tu_jwt_secret_super_seguro_aqui
JWT_EXPIRES_IN=30m
JWT_REFRESH_EXPIRES_IN=30d
JWT_ISSUER=AuthService
JWT_AUDIENCE=AuthService